page-initial-access {
    ion-slides{
        .swiper-pagination{
            &.swiper-pagination-bullets{
                bottom: 0;
            }

            .swiper-pagination-bullet-active{
                background: rgba(0, 0, 0, 0.7);
                box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
            }
        }
    }

    button.skip{
        z-index: +1;
        bottom: 1.15em;
        font-weight: 700;
        position: fixed;
        background: transparent;
    }
}
