<ion-content padding>
  <header text-center>
    <img src="assets/imgs/logo-demo.png" />

    <h1>App Agrícola</h1>
  </header>

  <form #user="ngForm" (ngSubmit)="login(user)">
    <ion-item>
      <ion-label floating>Usuário</ion-label>
      <ion-input type="text" name="user" [(ngModel)]="user.user" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <div text-center>
      <button [disabled]="!user.valid" color="farm" ion-button round>Entrar</button>
    </div>
  </form>

  <footer text-center>
    <button (click)="navCtrl.push('RegisterPage')">Cadastrar-se</button>
    <button (click)="recoveryPassword()">Esqueci a senha</button>
  </footer>
</ion-content>
