page-login {
    $margin: 3em;

    h1{
        font-weight: 300;
    }

    form{
        div[text-center]{
            margin-top: $margin;
        }
    }

    footer{
        margin-top: $margin;

        button{
            font-size: 0.9em;
            padding: 0.4em 0.2em;
            background: transparent;
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
