<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #user="ngForm" (ngSubmit)="register(user)">
    <ion-item>
      <ion-label floating>Nome completo</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="user.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Usuário</ion-label>
      <ion-input type="text" name="user" [(ngModel)]="user.user" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Confirmar senha</ion-label>
      <ion-input type="password" name="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>RG</ion-label>
      <ion-input type="tel" name="cpf" [(ngModel)]="user.rg" [brmasker]="{mask:'00.000.000-0', len:12}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>CPF</ion-label>
      <ion-input type="tel" name="cpf" [(ngModel)]="user.cpf" [brmasker]="{mask:'000.000.000-00', len:14}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Data de nascimento</ion-label>
      <ion-datetime name="birth" [(ngModel)]="user.birth"
        monthNames="janeiro, fevereiro, março, abril, maio, junho, julho, agosto, setembro, outubro, novembro, dezembro"
        monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
        dayNames="domingo, segunda-feira, terça-feira, quarta-feira, quinta-feira, sexta-feira, sábado"
        dayShortNames="dom, seg, ter, qua, qui, sex, sab"></ion-datetime>
    </ion-item>

    <div text-center>
      <button [disabled]="!user.valid" color="farm" ion-button round>Cadastrar</button>
    </div>
  </form>
</ion-content>
