<ion-content padding>
  <header text-center>
    <img src="assets/imgs/logo-demo.png" />

    <h1>Validação do sistema</h1>
  </header>

  <form #validation="ngForm" (ngSubmit)="license(validation)">
    <ion-item>
      <ion-label floating>CNPJ</ion-label>
      <ion-input type="tel" name="cnpj" [(ngModel)]="validation.cnpj" [brmasker]="{mask:'00.000.000/0000-00', len:18}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nome da fazenda</ion-label>
      <ion-input type="text" name="farmName" [(ngModel)]="validation.farmName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>CPF do representante</ion-label>
      <ion-input type="tel" name="cpf" [(ngModel)]="validation.cpf" [brmasker]="{mask:'000.000.000-00', len:14}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Nome do representante</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="validation.name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email do representante</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="validation.email" required></ion-input>
    </ion-item>

    <div text-center>
      <button [disabled]="!validation.valid" color="farm" ion-button round>Validar</button>
    </div>
  </form>
</ion-content>
