page-license-validation {
    header{
        img{
            height: 4em;
        }

        h1{
            font-weight: 300;
            margin: 1em 0 0 0;
        }
    }

    form{
        div[text-center]{
            margin-top: 2em;
        }
    }
}
